body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: aquamarine;
    color: red;
}

#text {
    background-color: blue;
    color: whitesmoke;
    font-size: 3em;
}